
.icon-home:before { content: '\e800'; } /* '' */
.icon-road:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-logout-1:before { content: '\e807'; } /* '' */